@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&display=swap';

body {
  color: #1d1d1f;
  background-color: #f2f2f7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: #1d1d1f;
  text-decoration: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
