/* card样式 */
.card {
  color: #1d1d1f;
  user-select: none; /* 控制用户是否可以选择文本以及如何选择，none表示不允许选择 */
  -webkit-user-select: none; /* 与user-select作用一致，但是是兼容旧版浏览器 */
  background-color: #fefefe;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  text-decoration: none; /* text-decoration用于给文本添加装饰线，如下划线、删除线等 */
  display: block;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.8rem #00000020;
  position: relative;
}

.card h4 {
  font-size: 1.75rem;
  font-weight: 800;
}
