#draw-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* #draw-list-card .item {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 130px;
  height: 180px;
  background: #cb4af7;
  transition: 0.25s;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: consolas;
  font-weight: 800;
  color: #fff;
  opacity: 0;
} */

#draw-list-card .item {
  position: absolute;
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  width: 30%;
  height: calc(100% - 3rem);
  /* background: #cb4af7; */
  transition: .1s;
  /* box-shadow: 0 0 50px rgba(0,0,0,0.5); */
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-family: consolas;
  font-weight: 800;
  opacity: 0;
  border-radius: 16px;
}

#draw-list-card .item:nth-child(1) {
  transform: translate3d(calc(-14vw), 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
  /* background: #48e365; */
  background-image: url('src/assets/image/pic1.jpg');
  background-size: cover;
}

#draw-list-card .item:nth-child(2) {
  transform: translate3d(calc(-7vw), 0, 0) scale(0.9);
  opacity: 1;
  z-index: 2;
  /* background: #ff6464; */
  background-image: url('src/assets/image/pic2.jpg');
  background-size: cover;
}

#draw-list-card .item:nth-child(3) {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
  z-index: 3;
  /* background: #64c0ff; */
  background-image: url('src/assets/image/pic4.png');
  background-size: cover;
}

#draw-list-card .item:nth-child(4) {
  transform: translate3d(calc(7vw), 0, 0) scale(0.9);
  opacity: 1;
  z-index: 2;
  /* background: #3adbf3; */
  background-image: url('src/assets/image/pic4.jpg');
  background-size: cover;
}

#draw-list-card .item:nth-child(5) {
  transform: translate3d(calc(14vw), 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
  /* background: #48e365; */
  background-image: url('src/assets/image/pic5.png');
  background-size: cover;
}

/* #draw-list-card .item:nth-child(6) {
  transform: translate3d(100px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 2;
  background: #cb4af7;
} */

/* #draw-list-card .item:nth-child(7) {
  transform: translate3d(100px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
  background: #48e365;
} */