#draw-list-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#draw-list-card .item {
  position: absolute;
  width: 30%;
  height: calc(100% - 3rem);
  transition: .1s;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

#draw-list-card .item:nth-child(1) {
  transform: translate3d(-150px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
}

#draw-list-card .item:nth-child(2) {
  transform: translate3d(-75px, 0, 0) scale(0.9);
  opacity: 1;
  z-index: 2;
}

#draw-list-card .item:nth-child(3) {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
  z-index: 3;
}

#draw-list-card .item:nth-child(4) {
  transform: translate3d(75px, 0, 0) scale(0.9);
  opacity: 1;
  z-index: 2;
}

#draw-list-card .item:nth-child(5) {
  transform: translate3d(150px, 0, 0) scale(0.8);
  opacity: 1;
  z-index: 1;
}