ã€‚portfolio-card {
  display: flex;
  flex-wrap: wrap;
}

#rice-portfolio-card {
  background-image: linear-gradient(#3e8c8910, #2c653320);
  color: #1d1d1f;
}

.noto-serif {
  font-optical-sizing: auto;
  font-family:
    Noto Serif SC,
    serif;
  font-style: normal;
}

.portfolio-card-image {
  align-self: flex-end;
}

#portfolio-card-text p {
  font-weight: 650;
  font-size: 0.95rem;
  color: #00000090;
  /* margin-top: 0.25rem; */
}
